@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
	<div class="col-md-12">
		<h1>Welcome to Geekbank - New Zealands #1 bank for IT hobbists!</h1>
		<p>
			It's like GitHub, but for your money!
		</p>
	</div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>How it works!</h2>
        <ul>
            <li>You give us money</li>
            <li>You use our APIs or something...</li>
			<li>???</li>
            <li>Profit... but with the satisfation you did it using DevOps/The Cloud/<br/><span style="color:darkred;font-family:monospace">@@ViewBag.BuzzwordList[2]</span>!</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>How do I know my money is safe?</h2>
        <ul>
            <li><a href="https://www.troyhunt.com/we-take-security-seriously-otherwise/" target="_blank" rel="noopener noreferrer">We take security seriously!</a></li>
            <li>The developers use passwords that are 32 characters long!</li>
            <li>We use military-grade SSL certificates (just like NASA!)</li>
            <li>All non-digital currency is kept hidden at our lead developers house, in a floorboard where burglars won't see it!</li>
            <li>Interest is earned through investments in up-and-coming cryptocurrencies! Be the next Bitcoin king in no time!</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>You can't be serious?!</h2>
        <p>
			No, of course not. This is a demo for my friends at OWASP Wellington, hope you enjoy the presentation! If 
			you want to see the shabby, hacked together code that wrote this, take a look at 
			<a href="https://github.com/MattCotterellNZ/geekbank">the source on GitHub</a>!
		</p>
    </div>
</div>
